<html>
    <head>
        <title>Utah State Liquor Store Inventory</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                padding: 3px;
                vertical-align: top;
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <table>
            <TMPL_VAR NAME=STORES>
        </table>
    </body>
</html>
